fastapi
uvicorn[standard]
pydantic
python-dotenv
email-validator
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
minio
python-multipart
httpx
beautifulsoup4
lxml
apscheduler
